{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": 80,
        "firefox": 70
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "jsx-control-statements",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-function-bind"
  ]
}
