{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 60
      }
    }],
    "react"
  ],
  "plugins": [
    "jsx-control-statements",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-function-bind"
  ]
}
