{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": 60,
        "firefox": 60
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "jsx-control-statements",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-function-bind"
  ]
}
