html,
body
    width: 400px
    height: 400px
    margin: 0

body
    padding: 5px
    font-family: "Buttercup-OpenSans"
    background-color: rgba(41, 44, 51, 1.0)
    color: #FFF

h1,
h2,
h3
    margin-top: 0px
    &.green
        color: rgb(0, 183, 172)

button.configure
    position: absolute
    left: 8px
    bottom: 8px
