doctype html
html
    head
        title Buttercup
        meta(charset="utf-8")
        link(rel="icon", type="image/png", href=require("./buttercup-256.png").default)
        link(rel="stylesheet" href="full.css")
        link(rel="stylesheet" href="vendors.css")
        script(defer, src="full.js")
        script(defer, src="vendors.js")
    body
        div#root
