doctype html
html
    head
        title Menu ⋅ Buttercup
        meta(charset="utf-8")
        link(rel="icon", type="image/png", href=require("./buttercup-256.png").default)
        script(defer, src="popup.js")
    body
        div#root
