doctype html
html
    head
        title= htmlWebpackPlugin.options.title
        meta(charset="utf-8")
        link(rel="icon", type="image/png", href=require("./buttercup-256.png").default)
    body
        div#root
