doctype html
html
    head
        title Menu ⋅ Buttercup
        meta(charset="utf-8")
        link(rel="icon", type="image/png", href=require("../../resources/buttercup-256.png").default)
        link(rel="stylesheet" href="./styles/popup.sass")
        script(defer, src="./applications/popup.tsx")
    body
        div#root
