doctype html
html(lang="en")
	head
		title="Buttercup"
		link(rel="stylesheet",href="popup.css")
	body
		div#main
			div#title
				img.title(src="ButtercupLogo.svg")
				span.title Buttercup
			div#content
				div#archives(style="visibility: visible")
					span.heading Archives
					div#archivesList
				div#archiveContents(style="visibility: hidden")
					span.heading#archiveName Archive-name