doctype html
html(lang="en")

	head
		title="Buttercup"
		link(rel="stylesheet", href="popup.css")
		script(type="text/javascript", src="require.js")

	body
		div#main
			div#title
				img.title(src="ButtercupLogo.svg")
				span.title Buttercup
			div#content
				div#archives(style="display: block")
					h1 Archives
					div#archivesList
					button#addArchiveButton Add archive
				div#archiveContents(style="display: none")
					h1#archiveName Archive-name
				div#addArchive(style="display: none")
					h1 Add new archive
					div.addMenu 
						// Dynamic

	script(type="text/javascript", src="popup.js")
