@font-face {
	font-family: OpenSansRegular;
	src: url(OpenSans-Regular.ttf);
}

// --- Vars

$headingColour:				#666669;

// --- Usability

* {
	cursor: default;
}

button, a {
	cursor: pointer;
}

// --- Container

html, body {
	width: 380px;
	height: auto;
}

#main {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: OpenSansRegular;
}

#title {

}

img.title {
	width: auto;
	height: 48px;
	display: inline-block;
}

span.title {
	font-size: 36px;
	display: inline-block;
	margin-left: 10px;
}

// --- Headings

h1 {
	font-size: 16px;
	color: $headingColour;
}

h2 {
	color: $headingColour;
	font-size: 14px;
	font-style: italic;
}

// --- Structure

#addArchive {

	div.addMenu {
		//padding-top: 10px;
	}

	div.source {
		display: none;
	}

}

