.addLastLogin
    label
        display: block
    .targetGroup
        border-radius: 4px
        display: flex
        justify-content: center
        align-items: center
        color: #FFF
        font-weight: bold
        height: 40px
        width: 100%
        margin-top: 25px
        &.set
            background-color: rgb(0, 183, 172)
            font-style: inherit
        &.unset
            background-color: rgb(207, 19, 19)
            font-style: italic
