.connectArchiveDialog
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: flex-start
    height: 100%

    .configuration
        flex-grow: 0
        order: 1
        width: 300px
        
        .options
            padding-left: 8px

    .explorer
        flex-grow: 1
        order: 2
        position: relative
        height: 100%

        .explorerContainer
            height: 100%
            overflow: scroll

.dialogButtonView
    display: inline-block

.rodal-close
    z-index: 10
