@font-face
    font-family: "OpenSans"
    src: url("../../../resources/OpenSans-Regular.woff2") format("woff2")
    font-weight: normal
    font-style: normal

@font-face
    font-family: "OpenSans"
    src: url("../../../resources/OpenSans-SemiBold.woff2") format("woff2")
    font-weight: bold
    font-style: normal
