doctype html
html
    head
        title Buttercup
        meta(charset="utf-8")
        link(rel="icon", type="image/png", href=require("../../resources/buttercup-256.png").default)
        link(rel="stylesheet" href="./styles/full.sass")
        script(defer, src="./applications/full.tsx")
    body
        div#root
